#container {
	text-align: center;
}

#lhs {
	padding-left: 20px;
	width: 50%;
	float: left;
	text-align: left;
}

#rhs {
	width: 50%;
	float: right;
}

h4 {
	text-align: justify;
}
body {
	background-color: #F3E2A9;
}

.carousel-inner {
	text-align: center;
	height: 600px;
}

div .carousel-inner > .item {
	top: 125px;
    height: 100%;
}
div .chart_div {	
	background-color: #F3E2A9;
	width:500px !important; 
	margin: 0 auto !important;
}