#astronautphoto {
	max-height: 300px; 
	max-width: 200px;
	align: right;
}

#container {
	text-align: center;
}

#lhs {
	padding-left: 20px;
	width: 50%;
	float: left;
	text-align: left;
}

#rhs {
	width: 50%;
	float: right;
}

h4 {
	text-align: justify;
}